:root {
  --bg-color: #e55c8a;
  --bg-main: #3c424a;
  --bg-input: #0000004d;
  --bg-logout-btn: #f7d7e0;
  --bg-login-btn: #eb2466;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

body {
  background: linear-gradient(to right, lightblue, black);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-buy {
  margin: auto;
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-buy:before,
.btn-buy:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.btn-buy:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.btn-buy:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.btn-buy:hover:before {
  width: 115%;
  height: 115%;
}

.btn-logout {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #00a84f;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  margin-left: 85%;
}

.btn-logout:hover {
  color: #fff;
}

.btn-logout .btn-logoutspan {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.btn-logout:hover .btn-logoutspan {
  background: transparent;
}

.sort-btn {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.sort-btn .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.sort-btn:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.sort-btn:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.sort-btn:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.header-main {
  text-align: center;
  margin-bottom: 10px;
}

.header-signup {
  text-align: center;
  margin-bottom: 10px;
}

.main-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

small {
  text-align: center;
  display: block;
  padding-top: 10px;
}

small a {
  cursor: pointer;
  color: lightblue;
}

main {
  max-width: 600px;
  width: 100%;
  max-height: 400px;
  background-color: var(--bg-main);
  box-shadow: 0 0 7px 7px rgb(0 0 0 / 20%);
  border-radius: 15px;
  color: white;
  padding: 20px;
  margin: 0 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: darkblue white;
}

.main-btn {
  background: linear-gradient(to right, silver, #00bfff);
  color: white;
  border: 0;
  padding: 15px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 25px;
  width: 50%;
  margin: auto;
}

.signup-btn {
  background: linear-gradient(to right, silver, rgb(0, 128, 255));
  color: white;
  border: 0;
  padding: 15px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 25px;
  position: relative;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.main-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

input {
  outline: none;
  border: none;
  background-color: var(--bg-input);
  font-weight: bold;
  padding: 10px;
  color: white;
  width: 100%;
  border-radius: 25px;
}

.flexbox-container {
  display: flex;
  justify-content: space-evenly;
}

.flexbox-item1 {
  border: 7px solid lightgrey;
  border-radius: 9px;
}

.available-product {
  color: green;
}

.not-available-product {
  color: red;
}

.price-td-table {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, white, silver);
  font-weight: bold;
}

.price-td-cart {
  display: flex;
  justify-self: center;
  align-items: center;
  background: linear-gradient(to right, white, silver);
  color: black;
  font-weight: bold;
}

.add-to-cart-td {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-btn {
  cursor: pointer;
  width: 100%;
  background: linear-gradient(to right, lightblue, black);
  /* font-weight: bold; */
}

.avail-td-table {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background: linear-gradient(to right, lightblue, black);
}

.name-td-table {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  max-height: 100px;
  background: linear-gradient(to left, lightblue, #00bfff);
  border-radius: 7px 13px 7px 13px;
  margin-left: 18%;
  margin-bottom: 10px;
}

.filter-products {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.option {
  color: black;
}

.filter-products:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.plus-minus {
  cursor: pointer;
  width: 50%;
  background-color: #3c424a;
  color: white;
}

.name-td-cart {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: white;
}

.order-btn {
  background: linear-gradient(to right, silver, #00bfff);
  color: white;
  border: 0;
  padding: 15px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 25px;
  width: 50%;
  margin: auto;
}
.cart-main {
  max-width: 600px;
  width: 100%;
  max-height: 400px;
  background-color: var(--bg-main);
  box-shadow: 0 0 7px 7px rgb(0 0 0 / 20%);
  border-radius: 15px;
  color: white;
  padding: 20px;
  margin: 0 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: darkblue white;
}

.amount-of-products {
  margin-left: 20px;
  color: lightgreen;
}

.total-price {
  margin-left: 90px;
  color: lightgreen;
}

#searchbar {
  max-width: 200px;
  margin-left: 18%;
  margin-bottom: 10px;
}

#searchbar::placeholder {
  color: black;
}
